name: CI

on:
  push:
    branches:
      - main

jobs:
  lint-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js dependencies
        working-directory: ./
        run: npm ci

      - name: Run linters
        working-directory: ./
        run: npm run lint
